<br>
<div class="cta-bg-primary">
  <div class="container">
    <div class="text-center text-white">
      <h4>Ready to get started?</h4>
      <p>Let us know what you are working on and we will help you get started with Cloud Native DevOps.</p>
      <a href="https://kubeify.com/schedule-meeting" class="btn btn-danger btn-rounded" target="_blank">SCHEDULE A MEETING</a>
      <br>

      <img src="/images/partners/aws-partner.png" alt="aws-partner" class="img-responsive">
      <img src="/images/partners/microsoft-azure-partner.png" alt="microsoft-azure-partner" class="img-responsive">
      <img src="/images/partners/google-cloud-partner.png" alt="google-cloud-partner" class="img-responsive">
      <img src="/images/partners/alibaba-cloud-partner.png" alt="alibaba-cloud-partner" class="img-responsive">
    </div>
  </div>
</div>
<br>
