<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin header -->
      <header class="header">

        <div class="logo">
          <a class="logo__link" href="https://kubeify.com/" target="_blank">
          {%if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}/images/{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">

          <div class="main-nav__box">
            <div class="nav-icon__close">
              <i class="ion ion-ios-close-circle-outline"></i>
            </div>

            <ul class="nav__list list-reset pull-right">

              <li class="nav__item">
                <a href="https://kubeify.com/services" class="nav__link">Services</a>
              </li>

              <li class="nav__item">
                <a href="https://kubeify.com/why-kubernetes" class="nav__link">WHY KUBERNETES</a>
              </li>

              <li class="nav__item">
                <a href="/" class="nav__link">Blog</a>
              </li>

               <li class="nav__item">
                <a href="https://kubeify.com/webinars" class="nav__link">Webinars</a>
              </li>

              <li class="nav__item">
                <a href="https://kubeify.com/about" class="nav__link">About us</a>
              </li>

              <li class="nav__item">
                <a href="https://kubeify.com/contact" class="nav__link">Contact us</a>
              </li>

              <li class="nav__item" style="margin-right: -140px;">
                <a href="https://kubeify.com/schedule-meeting" class="btn btn-danger btn-rounded"><b>SCHEDULE MEETING</b></a>
              </li>

            </ul>

          </div>
        </nav>

        <div class="nav-buttons">
          <i class="nav__icon nav__icon-menu ion ion-md-menu" aria-label="Menu Icon"></i>
          <i class="nav__icon nav__icon-search ion ion-md-search" aria-label="Search Icon"></i>
        </div>

        <div class="header__overlay"></div>
      </header>
      <!-- end header -->
    </div>
  </div>
</div>